# Strings

1. Strings are sequences of characters, using the syntax of either singles quotes or double quotes:
    - **'hello'**
    - **"Hello"**
    - **"I don't do that"**
    

2. Because strings are **ordered sequences** it means we can using **indexing** and **slicing** to grab sub-sections of the string.


3. Indexing notation uses [] notation after the string (or variable assigned the string).


4. Indexing allows you to grab a single character from the string...


5. These actions use [] square brackets and number index to indicate positions of what you wish to grab.

| Character | Index | Reverse Index | 
| :-------- | :---: | :------------:|
|    h      |   0   |       0       |
|    e      |   1   |      -4       |
|    l      |   2   |      -3       |
|    l      |   3   |      -2       |
|    o      |   4   |      -1       |


6. Slicing allows you to grab a subsection of multiple characters, a "slice" of the string.


7. This has the following syntax:
    - **[start:stop:step]**
    

8. **start** is a numerical index for the slice start.


9. **stop** is the index you will go up to (but not include).


10. **step** is the size of the "jump" you take.

In [1]:
'hello'

'hello'

In [2]:
'hello'

'hello'

In [3]:
"Hello World"

'Hello World'

In [4]:
'this is a string'

'this is a string'

In [5]:
"I'm going on a run"

"I'm going on a run"

In [6]:
print ("Helo")

Helo

In [8]:
print("hello world 1")
print("hello world 2")

hello world 1
hello world 2

In [10]:
print ("Hell \nworld")

Hell
world

In [11]:
print ("Hell \tworld")

Hell 	world

In [12]:
len("hello")

5

In [14]:
len('I am')

4

In [1]:
mystring = "Hello World"

In [2]:
mystring

'Hello World'

In [3]:
mystring[0]

'H'

In [4]:
mystring[8]

'r'

In [5]:
mystring[9]

'l'

In [6]:
mystring[-3]

'r'

In [7]:
mystring[-1]

'd'

In [8]:
mystring = 'abcdefghijk'

In [9]:
mystring

'abcdefghijk'

In [10]:
mystring[2:]

'cdefghijk'

In [11]:
mystring[:3]

'abc'

In [12]:
mystring[3:6]

'def'

In [13]:
mystring[1:3]

'bc'

In [17]:
mystring[2:7:2]

'ceg'

In [18]:
mystring[::-1]

'kjihgfedcba'

# String Properties and Methods

1. **Immutability**

In [20]:
name = "Jonatan"

In [22]:
#name[0] = 'P'

In [23]:
last_letters = name[1:]

In [24]:
last_letters

'onatan'

In [25]:
'H' + last_letters

'Honatan'

In [26]:
X = 'Hello World'

In [27]:
X

'Hello World'

In [33]:
X = X + " it is beautifull outside!"

In [34]:
X

'Hello World it is beautifull outside!'

In [35]:
letter = 'z'

In [36]:
letter * 10

'zzzzzzzzzz'

In [37]:
2  + 3

5

In [38]:
'2' + '3'

'23'

In [39]:
x = 'hello world'

In [42]:
x = x.upper()

In [43]:
x

'HELLO WORLD'

In [44]:
x.lower()

'hello world'

In [45]:
x.split()

['HELLO', 'WORLD']

In [46]:
x = 'hello  this is a string'

In [47]:
x.split()

['hello', 'this', 'is', 'a', 'string']

In [48]:
x.split('i')

['hello  th', 's ', 's a str', 'ng']

# String Formatting for Printing

1. Often you will want to "inject" a variable into your self string for printing. For example:
    - **my_name = "Jonatan"**
    - **print("Hello" + my_name)**
    

2. There are multiple ways to format strings for printing variables in them.


3. This known as string interpolation.

4. Let's explore two methods for this:
    - **.format()** method
    - **f-strings** (formatted string literals)

# Formatting with the .format() method

Agood way to format objects into your strings for print statements is with the string .format() method. The syntax is:

**'String here {} then also{}'.format('something1','something2')**

In [1]:
print('This is a string {}'.format('Inserted'))

This is a string Inserted

In [2]:
print('The {} {} {}'.format('fox', 'brow', 'quick'))

The fox brow quick

In [3]:
print('The {2} {1} {0}'.format('fox', 'brow', 'quick'))

The quick brow fox

In [4]:
print('The {0} {0} {0}'.format('fox', 'brow', 'quick'))

The fox fox fox

In [5]:
print('The {q} {b} {f}'.format(f='fox', b='brow', q='quick'))

The quick brow fox

**Float formatting follows "{value:width.precision f}"**

In [6]:
result = 100/777

In [7]:
result

0.1287001287001287

In [8]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [9]:
print("The result was {f}".format(f=result))

The result was 0.1287001287001287

In [11]:
print("The result was {f:1.3}".format(f=result))

The result was 0.129

In [12]:
name = "Jonatan"

In [13]:
print('Hello, his name is {}'.format(name))

Hello, his name is Jonatan

In [20]:
print(f'Hello, his name is {name}')

Hello, his name is Jonatan

In [21]:
name = "Jonatan"
age = 23

In [22]:
print(f'{name} is {age} years old.')

Jonatan is 23 years old.